/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    width: 1200px;
    margin: 0 auto;
    
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

body {
    font-family: 'Fredoka One', sans-serif;
}

h1 {
    color: #e53170;
}

h3,
p {
    color: white;
}

.container > p {
    color: black;
}

.column {
    background-color: black;
    width: calc(100% / 3);
    float: left; 
    margin: 10px;
}

 .column > img {
    width: 100px;
    float: left;
} 

.email {
    color: rgb(55, 122, 209);
}